In [5]:
import pandas as pd
import matplotlib.pyplot as mp
import numpy as np
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import regex as r
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
import warnings as w
w.filterwarnings('ignore')
from sklearn.metrics import r2_score,mean_absolute_error
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor,ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor

In [7]:
df=pd.read_csv('laptops.csv')

In [9]:
df.head(3)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.0
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.0
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.0

In [5]:
df.shape

(864, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 864 entries, 0 to 431
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        864 non-null    object
 1   Status        864 non-null    object
 2   Brand         864 non-null    object
 3   Model         864 non-null    object
 4   CPU           864 non-null    object
 5   RAM           864 non-null    int64
 6   Storage       432 non-null    float64
 7   Storage type  858 non-null    object
 8   GPU           312 non-null    object
 9   Screen        862 non-null    float64
 10  Touch         864 non-null    object
 11  Final Price   864 non-null    float64
dtypes: float64(3), int64(1), object(8)
memory usage: 87.8+ KB